<!DOCTYPE html>
<html>

<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<link href="../common.css" type="text/css" rel="stylesheet">
	<link href="login.css" type="text/css" rel="stylesheet">
</head>

<body>
	<p class="title">Moo Later</p>
	<div id="content">
		<p class="msg">Moo Later needs permission to access your Remember The Milk account.</p>
		<p class="controls">
			<button id="submit" type="submit">Allow Access</button>
		</p>
		<p class="footnote">Moo Later won't store your password and you can revoke access any time from Remember The Milk.</p>
	</div>

	<div id="status" class="hide">
		<p class="msg" id="status-msg"></p>
		<img class="msg" id="status-img" src="../icons/done.svg" />
	</div>

	<script src="../common.js" type="text/javascript" charset="utf-8"></script>
	<script src="login.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
