html, body, p, span, input, form, img, button {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
}

.hide {
	display: none !important;
}

p.title {
	padding: 15px;
	text-align: left;
	font-size: 2.1em;
	font-weight: bold;
	color: #005DC2;
}

p.msg {
	padding: 10px 15px;
	text-align: center;
	font-size: 1.3em;
	color: #333333;
}

p.controls {
	padding: 20px 15px;
	text-align: center;
}

p.controls button {
	background-color: #005DC2;
	color: #FFFFFF;
	font-size: 1.6em;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #005DC2;
}

p.controls button:hover {
	background-color: #0a71e2;
	cursor: pointer;
}

#status-img {
	display: block;
	width: 180px;
	height: 180px;
	margin: auto;
}
