<!DOCTYPE html>
<html>

<head>
	<link href="../common.css" type="text/css" rel="stylesheet">
	<link href="addTask.css" type="text/css" rel="stylesheet">
</head>

<body>
	<p class="title">Moo Later</p>
	<form id="new-task">
		<span class="label">Task: </span>
		<input type="text" id="task">
		<span class="label">Link: </span>
		<input type="url" id="link">
		<p class="lists">
			List:&nbsp;
			<select required id="lists">
			</select>
			<button class="icon" id="lists-refresh" type="button"><img src="../icons/refresh.svg" /></button>
			<!--<button class="icon" id="lists-plus" type="button"><img src="../icons/plus.svg" /></button>-->
		</p>
		<p class="controls">
			<button id="submit" form="new-task" type="submit">Add Task</button>
		</p>
	</form>

	<div id="status" class="hide">
		<p class="msg" id="status-msg">Message</p>
		<img class="msg" id="status-img" src="../icons/done.svg" />
	</div>

	<script src="addTask.js"></script>
</body>

</html>
