form .multi-label {
	font-size: 1.3em;
	display: block;
	padding: 15px 15px 5px;
}

form .multi-input {
	font-size: 1em;
	padding: 5px;
	margin: 5px 0 0 0;
	width: 310px;
	background-color: #EEEEEE;
	border-radius: 5px;
	display: block;
}

form .line-label {
	padding: 5px 0 0 0;
	margin: 15px 15px 15px;
	font-size: 1.3em;
  display: block;
}

form #selected-text {
	margin-bottom: 3px;
}

form .line-input {
	padding: 0;
	margin: 0 0 0 5px;
	font-size: 1em;
	vertical-align: middle;
}

button.icon, div.icon {
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	vertical-align: middle;
}

button.icon img, div.icon img{
	height: 1.7em;
	width: 1.7em;
}

button.icon:hover {
	cursor: pointer;
}
