body {
    font-family: sans-serif;
    color: #111111;
    font-size: 1em;
}

body, form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hide {
    display: none !important;
}

.option {
    padding: 10px 0 10px 6px;
    display: block;
    border-top: 1px solid #C0C0C0;
}

.option label {
    display: inline-block;
    width: 14em;
}

.option input {
    display: inline-block;
}

.option .description {
    margin-top: 12px;
    display: block;
    color: #444444;
}

#submit {
    margin: 20px 10px 20px 10px;
}

#submit button {
    padding: 0.3em 0.6em;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
    background-color: transparent;
    font-size: 1.2em;
}

#submit button:hover {
    background-color: #E6E6E6;
}

#submit img {
    margin-left: 20px;
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    padding: 0 0 5px 0;
}
